<mat-form-field>
  @if (label) {
    <mat-label>{{ label }}</mat-label>
  }
  <mat-select [formControl]="control">
    @if (!hideFilterInput && options.length > showFilterInputLength) {
      <mat-option class="__filter-option">
        <input 
          type="text" 
          [placeholder]="filterInputPlaceholder"
          (click)="$event.stopPropagation()"
          (keyup)="onFilter($event)"
        >
      </mat-option>
    }
    @for (option of filteredOptions; track option.value) {
      <mat-option 
        [value]="option.value"
      >{{option.title}}</mat-option>
    }
  </mat-select>
</mat-form-field>